In [3]:
list=['sam','anu','anju','diya']
for i in list:
    print(i[2])

m
u
j
y

In [2]:
for i in list:
    print(i[::-1])

mas
una
ujna
ayid

In [ ]:
list=['sam','anu','anju','diya']
for i in list:
    print(i[2:])

m
u
ju
ya

In [8]:
list1=['albert','srini','sam','anu','divya']
for i in list1:
    print(f"{i} {i[::-1]}")

albert trebla
srini inirs
sam mas
anu una
divya ayvid

In [14]:
num=[2,3,4,5,6,7,8]
new_list=[]
for i in num:
    sqr=i**2
    print(f"square of{i} is {sqr}")
    new_list.append(sqr)
print(new_list)

square of2 is 4
square of3 is 9
square of4 is 16
square of5 is 25
square of6 is 36
square of7 is 49
square of8 is 64
[4, 9, 16, 25, 36, 49, 64]

In [ ]:
num=[2,3,4,5,6,7,8]
print(new_list)
list=dict(zip(num,new_list))
print(list)

[4, 9, 16, 25, 36, 49, 64]
{2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [16]:
num=[2,3,4,5,6,7,8]
for i in num:
    if i%2==0:
        print(f'square of {i} is {i**2}')

square of 2 is 4
square of 4 is 16
square of 6 is 36
square of 8 is 64

In [ ]:
new_list=[1,2,3,4,5,6,7,8]
for i in range(1,7,2):
    sqr=i**2
    print(f'square of {i} is {sqr}')

square of 1 is 1
square of 3 is 9
square of 5 is 25

In [22]:
a=5
while a<10:
    print("hello")
    a=a+1

hello
hello
hello
hello
hello

In [6]:
a=0
while a<5:
    if a==2:
        break
    else:
        print(a)
        a+=1

0
1

In [6]:
#Remove duplicate values from the String

sent="time , after the . time the clock ticked"
words=sent.split()
lis=set(["'",".",","])
result=[]
for ch in words:
    if ch  not in lis:
      result.append(ch)
print(result) 
print(type(result))
res=str(result) 
print(type(res))

['time', 'after', 'the', 'time', 'the', 'clock', 'ticked']
<class 'list'>
<class 'str'>

In [ ]:
a=5
while a<=10:
    if a==5:
        a+=1   # increment
        continue
    else:
        print("hai")
        a+=1

hai
hai
hai
hai
hai

In [3]:
a=5
while a<=8:
    if a==3:
        a+=1
        continue
    else:
        print("hello world")
        a+=1

hello world
hello world
hello world
hello world

In [3]:
new_sent="learn python is easy, in data science."
words=new_sent.split()
print(words)

['learn', 'python', 'is', 'easy,', 'in', 'data', 'science.']

In [2]:
names=["sam","anu","boss","anju","manasi"]
for i in names:
    print(i)
    print(i[::-1])
    print(i[3:]) 
names.append("raju")
print(names)

sam
mas

anu
una

boss
ssob
s
anju
ujna
u
manasi
isanam
asi
['sam', 'anu', 'boss', 'anju', 'manasi', 'raju']

In [5]:
# print numbers from 1 to 10
for a in range(1,11):
    print(a)

1
2
3
4
5
6
7
8
9
10

In [48]:
# print each character in the word "python"

word="python"
for ch in word:
    print(ch)

p
y
t
h
o
n

In [16]:
# Print all elements in the list

fruits=['apple','banana','cherry']
for i in fruits:
    print(i)

apple
banana
cherry

In [60]:
# print the square of numbers from 1 to 5

for i in range(1,6):
    sqr=i**2
    print(f"square of {i} is {sqr}")

square of 1 is 1
square of 2 is 4
square of 3 is 9
square of 4 is 16
square of 5 is 25

In [ ]:
# print all even numbers from 1 to 20

for i in range(1,21):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20

In [2]:
# Reverse of each word in a list

rev=['cat','dog','bat']
for ch in rev:
    print(ch[::-1])

tac
god
tab

In [51]:
# print numbers from 10 to 1 in reverse

rev1=[1,2,3,4,5,6,7,8,9,10]
rev1.sort(reverse=True)
for i in rev1:
    print(i)

10
9
8
7
6
5
4
3
2
1

In [64]:
# count how many vowels are in the word "elephant"

vowels="elephant"
count=0
for i in vowels:
    if i in "aeiou":
        count+=1
print("vowels:",count)

vowels: 3

In [67]:
# print the length of each word in the list

li=["hi","hello","world"]
for i in li:
 print(len(i))

2
5
5

In [70]:
# print only words that start with letter "a" from the list

fruits=["apple","banana","avocado","mango"]
for i in fruits:
    if i.startswith("a"):
        print(i)

apple
avocado