In [11]:
emp_salary={'anu':60000,'sam':250000,'abi':92000}
print(emp_salary)
print(emp_salary['sam'])     # Access the value
emp_salary['rani']=45000     # add a value 
print(emp_salary)

{'anu': 60000, 'sam': 250000, 'abi': 92000}
250000
{'anu': 60000, 'sam': 250000, 'abi': 92000, 'rani': 45000}

In [ ]:
# pop item
emp_salary={'anu':60000,'sam':250000,'abi':92000}
emp_salary.popitem()    # last value will be removed
print(emp_salary)

# store a popitem
a=emp_salary.popitem()
print(a)                 # tuple format o/p

{'anu': 60000, 'sam': 250000}
('sam', 250000)

In [21]:
# pop
emp_salary={'anu':60000,'sam':250000,'abi':92000}
emp_salary.pop('anu')
print(emp_salary)

{'sam': 250000, 'abi': 92000}

In [ ]:
emp_salary={'anu':60000,'sam':250000,'abi':92000}
print(emp_salary.get('abi'))

92000

In [ ]:
emp_details={'name':'John','place':'trivandrum','phone':8745388,'salary':40000}
print(emp_details)
print(emp_details['place'])   # Access the value

{'name': 'John', 'place': 'trivandrum', 'phone': 8745388, 'salary': 40000}
trivandrum

In [5]:
# Key Methods
emp_details.keys()
print(emp_details)
print(emp_details.values())

{'name': 'John', 'place': 'trivandrum', 'phone': 8745388, 'salary': 40000}
dict_values(['John', 'trivandrum', 8745388, 40000])

In [6]:
# items()
emp_details.items()
print(emp_details)

{'name': 'John', 'place': 'trivandrum', 'phone': 8745388, 'salary': 40000}

In [ ]:
print(emp_details)
emp_details['Job']='techie'     # New key
print(emp_details)

{'name': 'John', 'place': 'trivandrum', 'phone': 8745388, 'salary': 40000}
{'name': 'John', 'place': 'trivandrum', 'phone': 8745388, 'salary': 40000, 'Job': 'techie'}

In [ ]:
emp_details.update({'name':'sam'})
print(emp_details)                   # update

{'name': 'sam', 'place': 'trivandrum', 'phone': 8745388, 'salary': 40000, 'Job': 'techie'}

In [20]:
emp_list=['sam','anu','lily','binu']
emp_details=['trivandrum','kottayam','munnar','chennai']
#total_list=zip(emp_list,emp_details)
total_list=dict(zip(emp_list,emp_details))
print(total_list)
total_list['malu']=total_list.pop('anu')
print(total_list)

{'sam': 'trivandrum', 'anu': 'kottayam', 'lily': 'munnar', 'binu': 'chennai'}
{'sam': 'trivandrum', 'lily': 'munnar', 'binu': 'chennai', 'malu': 'kottayam'}

In [24]:
num_list=[2,3,4,8]
num2_list=[4,9,16,64]
total_list=dict(zip(num_list,num2_list))
print(total_list)

{2: 4, 3: 9, 4: 16, 8: 64}