In [1]:
# Lambda Function

add=lambda x,y:x+y
print(add(5,2))

7

In [2]:
mul=lambda x,y:x*y
print(mul(2,3))

6

In [3]:
x=lambda x :"Even" if x%2==0 else "odd"
print(x(4))

Even

In [ ]:
students=[("sam",20),("ani",10),("jikku",90)]
print(sorted(students,key=lambda x:x[1]))
#print(new_list)

[('ani', 10), ('sam', 20), ('jikku', 90)]

In [1]:
try:
    a=input("Enter your age")
except: 
    print("Invalid error")

else:
    print("Your age is:",a)
finally:
    print("eligible ")

Your age is: 20
eligible

In [2]:
# square function takes single number as input and returns square.

sqr=lambda x:x**2
print(sqr(5))

25

In [3]:
# Add 2 numbers as input and return their sum

sum=lambda x,y:x+y
print(sum(5,2))

7

In [9]:
# Even or Odd

num=lambda x:"Even" if x%2==0 else "Odd"
print(num(4))
print(num(7))

Even
Odd

In [14]:
emp=(["Amal",20],["Sam",50],["Binija",35],["Nainu",27])
print(sorted(emp,key=lambda a:a[1]))

[['Amal', 20], ['Nainu', 27], ['Binija', 35], ['Sam', 50]]

In [20]:
num=[20,2,0,15,35,7,90]
result=list(filter(lambda x:x>10,num))
print(result)

[20, 15, 35, 90]

In [23]:
str=["hello","world","hi","good"]
result=list(map(lambda x:x.upper(),str))
print(result)

['HELLO', 'WORLD', 'HI', 'GOOD']

In [ ]:
#maximum of 2 numbers
max_num=lambda x,y:x if x>y else y
print(max_num(20,40))

40

In [ ]:
# filter the numbers divisible by 3
nums=[2,9,10,18,0,24]
mul_num=list(filter(lambda x:x%3==0,nums))
print(mul_num)

[9, 18, 0, 24]

In [32]:
# filter strings starts with a vowel
st=["apple","banana","orange","grapes"]
new_st=list(filter(lambda x:x[0] in "aeiou",st))
print(new_st)

['apple', 'orange']

In [39]:
# First character of each word
word=['Apple','Orange','Banana','Grapes']
new_word=list(map(lambda x:x[0],word))
print(new_word)

['A', 'O', 'B', 'G']

In [1]:
# convert integer to strings
vari=[0,2,3,5,9,20]
output_list=list(map(lambda x:str(x),vari))
print(output_list)

['0', '2', '3', '5', '9', '20']