In [11]:
sent=['Hi I am Dheeshma in srishti innovative']
new_sent=sent[0].split()
print(new_sent)
new_string=[word[0]  for word in new_sent]
print(new_string)

['Hi', 'I', 'am', 'Dheeshma', 'in', 'srishti', 'innovative']
['H', 'I', 'a', 'D', 'i', 's', 'i']

In [20]:
words={'Learn python is very easy in data science'}
new_words={ i[0] for i in words}
print(new_words)

{'L'}

In [3]:
tup=("This is a test sentence")
new_sent=tup.split()
print(new_sent)
new_tup=tuple([ch[0] for ch in new_sent])
print(new_tup)

['This', 'is', 'a', 'test', 'sentence']
('T', 'i', 'a', 't', 's')

In [31]:
sent1={'India':'NewDelhi','America':'canberra'}
dict={city:country for city,country in sent1.items()}
print(dict)

{'India': 'NewDelhi', 'America': 'canberra'}

In [ ]:
dict={'India':'NewDelhi','America':'canberra'}
flipped_dict={city:country for country,city in dict.items()}
print(flipped_dict)

{'NewDelhi': 'India', 'canberra': 'America'}

In [38]:
flipped_dict={city[:3]:country[:4] for country,city in dict.items()}
print(flipped_dict)

{'New': 'Indi', 'can': 'Amer'}

In [ ]:
dic={'ani':'sai','ali':'bin','imal':'sam'}
new_dic={key:value for key,value in dic.items() if key[0] not in ['i'] if value not in ['sam']}
print(new_dic)

{'ani': 'sai', 'ali': 'bin'}

In [48]:
# Even or odd
def evenorodd(num):
    if num%2==0:
        print("even")
    else:
        print("odd")

In [49]:
evenorodd(4)

even

In [1]:
def numbers(num):
    for i in range(0,num):
        print(i)

numbers(10)

0
1
2
3
4
5
6
7
8
9

In [60]:
word="python"
def str1(word,s):
        str=word+s
        print(str)
str1(word,"program")

pythonprogram

In [ ]:
def vowels(word):
    count=0
    for i in word:
        if i in "aeiou":
            count+=1
    return count

                              
vowels("jikku")

2

In [16]:
def str(sent):
    for i in sent:
        txt=sent[::-1]
    return txt

str("India is a vast country")

'yrtnuoc tsav a si aidnI'

In [22]:
def max_num(a,b,c):

        if a>b and a>c:
            print("a is greater")
        elif b>a and b>c:
            print("b is greater")   
        else:
            print("c is greater") 

max_num(20,50,10)

b is greater

In [38]:
# function to join a list of strings in to a single string

def join_list(list1):
    result=" "
    for i in list1:
        result+=i
    return result
    
print(join_list(["Hello"," ","World"]))

 Hello World

In [66]:
# function to multiply all numbers in a list and return final product

def mul_num(num1):
    result=3
    for i in num1:
        result=result*i
    return result

print(mul_num([5,2,3]))

90

In [75]:
# function which takes a list of numbers and returns a newlist in numbers greater than 10

def num_list(list1):
    new_list=[]
    for i in list1:
        if i>10:
            new_list.append(i)
        
    return new_list

print(num_list([12,0,20,15,5,40]))

[12, 20, 15, 40]

In [81]:
# function to check two words are anagrams

def words(str1,str2):
    return sorted(str1)==sorted(str2)

print(words("listen","silent"))

True

In [4]:
# function to check word is an isogram

def wrd_isogram(word):
        for i in word:
                if word.count(i)>1:                    
                    return False
        return True
wrd_isogram("Machine")

True

In [1]:
def palindrome(sent):
    if sent==sent[::-1]:
        print("Palindrome")
    else:
        print("Not a Palindrome")


palindrome("malayalam")

Palindrome